.img-dark {
    display: none !important;
}

[data-theme="dark"] .img-dark {
    display: block !important;
}

[data-theme="dark"] .img-light {
    display: none !important;
}

[data-theme="light"] .img-light {
    display: block !important;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-container {
    padding: 1rem 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.error {
    background-color: oklch(93.6% 0.032 17.717);
    border-width: 1px;
    border-style: solid;
    border-color: oklch(70.4% 0.191 22.216);
    color: oklch(50.5% 0.213 27.518);
}

.success {
    background-color: oklch(98.2% 0.018 155.826);
    border-width: 1px;
    border-style: solid;
    border-color: oklch(79.2% 0.209 151.711);
    color: oklch(52.7% 0.154 150.069);
}